{% extends "layout.html" %}

{% block content %}
<div class="card">
    <h1>Student Login</h1>

    <form method="post">
        <div>
            <label>Enrollment Number</label>
            <input type="text" name="username" required>
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>
    <p>
        <a href="{{ url_for('login') }}">Back to admin login</a>
    </p>
</div>
{% endblock %}
